<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Todo List</title>
</head>
<body>
    <!-- container connessione -->
    <div id="app">

        <!-- title e imput -->
        <h1>todo List</h1>

        <div class="new-task">
            <input type="text" v-model="newText" @keyup.enter="addTask" placeholder="scrivi qui"/>
            <button @click="addTask">aggiungi</button>
        </div>

        <!-- error and no task -->
        <div class="error" v-if="error">
            <h4>
                ERROR!
                <br>
                digita almeno 5 caratteri
            </h4>
        </div>

        <div class="noTask" v-if="noTask">
            <h5>
                Non ci sono Task.
            </h5>
        </div>

        <!-- List Task -->
        <div class="task-container">
            <ul>
                <li class="task" v-for="(task, index) in tasks">
                    <span :class="task.done ? ' item-txt through' : 'item-txt'" @click="modifierDone(index)">{{ task.text }}</span>
                    <i class="fas fa-times" @click="deleteTask(index)"></i>  
                </li>
            </ul>
        </div>

    </div>

    <!-- connessioni -->
    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>
</html>